form {
    padding: 0;
}

.app-main {
    position: absolute;
    width: 100%;
}

.fade:not(.show) {
    display: none;
}

.b-a {
    border: 1px solid black;
}

input.form-control {
    margin-bottom: 0;
}

/* span.input-group-text {
    display: none;
} */

.mouse:hover {
    cursor: pointer;
}

.navbar {    
    height: 10%;
    background-color: #00070D;
}

nav.navbar-expand {
    justify-content: space-between;
    flex-flow: wrap;
}

img {
    padding-bottom: 3px;
}

.navbar p {
    color: white;
}

.nav {
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: white;
    z-index: 5;
}

.bb-1 {
    border-bottom: 1px solid#00070D;
}

.hmi-100 {
    height: 100vh;
}

div.container {
    height: 100%;
    background-color: #011126;
}

.tab-content {
    height: 90%;
}

table {
    background: white;
}

@media only screen and (max-width: 700px) {
    .navbar {
        height: 22%;
    }
    .nav {
        width: 35%;
    }
    .tab-content {
        height: 78%;
    }
}