body {
  background-position: center center;
  background-size: cover;
}

.app-secretary {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center {
  position: relative;
  height: 100%;
  display: d-flex;
  justify-content: center;
  z-index: 2;
}

.caja {
  width: 368px;
  height: 355px;
  background: url("../img/back-login.png");
  text-align: center;
  padding: 50px 10px 20px 10px;
}

.alert {
  z-index: 4;
  margin-top: 25px;
}

.caja > form {
  padding: 60px;
}

.no-login {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.alert {
  margin-top: 10px;
}