.table-sm td, .table-sm th {
    padding: 1px 2px 1px 2px;
}

.ocupado {
    background-color: red;
}

.th-s > th, td {
    width: 150px;
    word-wrap: break-word;
}

.table-autosize > th, td {
    width: max-content;
    word-wrap: break-word;
}