.Root__top-container {
    position: absolute;
    min-height: 100%;
    width: 100%;
}

.Root__nav-bar {
    position: sticky;
    background-color: #00070D;
    height: 100vh;
    width: 25%;
}

.Root__main-view {
    background-color: #F2F2F2;
    top: 0;
    left: 25%;
    position: absolute;
    max-height: 100vh;
    overflow-y: auto;
    width: 75%;
}

.list-group-item:first-child {
    border-radius: 0;
}

.list-group-item:last-child {
    border-radius: 0;
}

@media screen and (max-width: 600px) {
    .Root__nav-bar {
        background-color: olive;
        z-index: 1;
        width: 45%;
    }
    .Root__main-view {
        overflow-y: auto;
        left: 0;
        width: 100%;
        z-index: 0;
    }
}